/* base styles, feel free to edit */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial;
  overflow-y: hidden;
}

main {
  height: 100%;
}

li {
  list-style-type: none;
}

nav {
  background-color: rgb(62, 62, 62);
}

nav h1 {
  color: white;
}

main {
  position: relative;
  height: 100vh; /* or any specific height */
}

#page-register {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

#page-register button {
  float: right;
}

#page-login {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

#page-login button {
  float: right;
}

#page-dashboard {
  display: inline;
  grid-template-columns: 400px auto;
  grid-template-areas: "threads thread";
}

#threads-menu {
  grid-area: threads;
  overflow-y: auto;
}

#create-thread-button {
  margin: 15px 0;
  margin-left: 50%;
  width: 50%;
  justify-content: center;
}

#dashboard-threads {
  max-height: 90vh;
  overflow-y: scroll; /* Makes the div scrollable */
}

.thread-link {
  height: 100px;
  display: flex;
  padding: 15px !important;
}

.thread-link-components {
  display: flex;
  gap: 10px;
  align-items: center;
}

#thread {
  grid-area: thread;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

#thread-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#thread-modify {
  float: right;
  width: 100px;
}

/* #thread-head-components {
  display: flex;
  gap: 20px;
} */

#comments-container {
  margin-bottom: 50px;
  margin-top: 50px;
}

.comment-border-link {
  display: block;
  position: absolute;
  top: 50px;
  left: 0;
  width: 12px;
  height: calc(100% - 50px);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  background-color: rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
}

#new-comment-submit {
  margin-top: 20px;
  float: right;
}

.comment {
  position: relative;
  margin-top: 20px;
}

.comment-heading {
  display: flex;
  align-items: center;
  height: 70px;
  font-size: 14px;
}

.comment-content {
  padding: 20px;
  border-radius: 5px;
}

.nested-comments {
  margin-left: 20px;
}

/* Adjustments for the comment border links */

.comment-border-link {
  display: block;
  position: absolute;
  top: 70px;
  left: 0;
  width: 12px;
  height: calc(100% - 70px);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  background-color: rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
}
.comment-border-link:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.comment-body {
  padding: 0 20px;
  padding-left: 28px;
}
.nested-comments {
  margin-left: 28px;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.navbar-nav {
  gap: 20px;
  align-items: center;
  justify-items: space-between;
}

button {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}
