/* base styles, feel free to edit */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial;
}

li {
  list-style-type: none;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

#page-dashboard {
  display: inline;
  grid-template-columns: minmax(auto, 400px) 80%;
  grid-template-areas: "threads thread";
}

#threads-menu {
  grid-area: threads;
}

#thread {
  grid-area: thread;
  display: flex;
  flex-direction: column;
}

.thread-box {
  height: 100px;
  border: 1px solid black;
  margin-bottom: 10px;
  display: flex;
}

.comment {
  height: 100px;
  border: 1px solid black;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

/* .thread-box div {
} */
